/*kleuren*/
:root {
    --primary: #FFECF4;
    --secondary: #E5F8FF;
    --title: #3b3b3b;
}

body {
    background-image: image('img/background.jpg');
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    background-color: var(--primary);
    max-width: 500px;
    margin: auto;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: var(--title);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}